{% extends "base.html.twig" %} {% block body %}

<div class="container mt-4 w-50 p-3">
  <h1>Modfifer les spécifications d'un troupeau</h1>

  {{ form_start(form) }}
  <div class="form-group">
    {{ form_label(form.name) }}
    {{ form_widget(form.name) }}
    <div class="form-error">
      {{ form_errors(form.name) }}
    </div>
  </div>
  <div class="form-group">
    {{ form_label(form.water) }}
    {{ form_widget(form.water) }}
    <div class="form-error">
      {{ form_errors(form.water) }}
    </div>
    </div>
    <div class="form-group">
      {{ form_label(form.food) }}
      {{ form_widget(form.food) }}
      <div class="form-error">
        {{ form_errors(form.food) }}
      </div>
      </div>
      <div class="form-group">
        {{ form_label(form.foodUnit) }}
        {{ form_widget(form.foodUnit) }}
        <div class="form-error">
          {{ form_errors(form.foodUnit) }}
        </div>
      </div>
      
      <div class="form-group">
        {{ form_row(form.submit) }}
      </div>

      {{ form_end(form) }}
    </div>


  {% endblock %}

