{% extends "base.html.twig" %}

{% block title%} TraiteApp| Cow {%endblock%}

{% block body %}
<div class="container mt-4">
  {% for message in app.flashes('success') %}
     <div class="alert-success">
            {{ message }}
    </div>
    {% endfor %}
<div class="card bg-light mb-3" style="max-width: 60rem;">
    <div class="card-header"> Derniers relevés</div>
    <div class="card-body">
        <table class="table table-hover ">
            <thead>
              <tr>
                <th scope="col">Troupeau</th>
                <th scope="col">Numéro d'identification</th>
                <th scope="col">Nom</th>
                <th scope="col">Race</th>
                <th scope="col">Etat de santé</th>
                <th scope="col">Date de Naissance</th>
                <th scope="col">Edition</th>
                <th scope="col">Suppression</th>
              </tr>
            </thead>
            <tbody>
                {% for Cow in Cows %}
                    <tr class="table-active">
                        
                      <td>{{Cow.RefHerd}}</td>
                      <td>{{Cow.idNat}}</td>
                        <td>{{Cow.name}}</td>
                       
                      <td>{{Cow.breed}}</td>
                      <td>
                        {% for health in Cow.healths %}
                          <span> {{health.state}}</span>
                        {% endfor %}
                      </td>
                     <td>{{Cow.dob| date("Y/m/d")}}</td>
                     <td>
                      <a href="{{ path('cow.edit', { id: Cow.id })}}" class="btn btn-warning"> Modifier</a>
                    </td>
                    <td>
                      <a href="{{ path('cow.delete', { id: Cow.id })}}" class="btn btn-danger"> Supprimer</a>
                    </td>
                    </tr>
                {% endfor %}
            </tbody>
          </table>
          <div class="navigation d-flex justify-content-center">
            {{ knp_pagination_render(Cows) }}
        </div>
        <a href="{{path('cow.new')}}" class="btn btn-primary"> Ajouter un bovin</a>
    </div>
  </div>

{% endblock %}